<template>
  <div class="home">
    <navbar></navbar>
    <el-row class="background-home">
      <div class="text">
        <h2>Especialistas en la fabricación de piezas de metalmecánica</h2>
        <hr>
        <p>Realizamos mecanizados de alta precisión CNC, repuestos de maquinaria y representamos a las mejores marcas: Romi, Delta y Fresmak, brindando soluciones integradas a la industria.</p>
      </div>
      <div class="cotization">
          <p>Solicita una cotización de</p>
          <el-select v-model="serviceSelected" placeholder="Servicios">
            <el-option
              v-for="service in services"
              :key="service.id"
              :label="service.name"
              :value="service.id">
            </el-option>
        </el-select>
        <el-button @click="quote" class="button-quote">Contáctanos</el-button>
      </div>
    </el-row>
    <el-row class="section">
      <p class="title">Nuestros Servicios</p>
      <hr>
      <p class="info">Fabricación en serie de todo tipo de piezas,<br>moldes y estructuras metálicas.</p>
      <el-col :span="24" class="images">
          <div class="image">
            <p>Diseño y fabricación de piezas</p>
          </div>
          <div class="image">
            <p>Mantenimiento y reparación de maquinas Romi</p>
          </div>
      </el-col>
      <el-col :span="24" class="div-buttons">
        <el-button class="button-services">Más Servicios</el-button>
      </el-col>
    </el-row>
    <el-row class="section speciality">
      <el-col :span="12" class="speciality-image"></el-col>
      <el-col :span="12" class="details">
        <p class="title">
          Especialidades
        </p>
        <hr>
        <el-row>
          <el-col :span="12">
            <ul>
              <li>
                <i class="fas fa-chevron-right"></i><span>Tornos CNC</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Madrinadoras</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Centro mecanizado CNC</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Diseño de planos</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Prototipados</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Fabricación en serie</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Fabricación en moldes</span>
              </li>
            </ul>
          </el-col>
          <el-col :span="12">
            <ul>
              <li>
                <i class="fas fa-chevron-right"></i><span>Soldaduras</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Ensamblaje e instalación</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Programación en CAD-CAM</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Cilindros hidráulicos</span>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i><span>Cardanes</span>
              </li>
            </ul>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-row class="section">
      <p class="title">Piezas y Repuestos</p>
      <hr>
      <p class="info">Fabricación piezas y repuestos a medida para máquinas de<br>todo tipo de industria.</p>
      <el-col :span="24" class="div-carousel">
        <el-carousel :interval="10000" arrow="always">
          <el-carousel-item v-for="item in 4" :key="item">
            <el-row>
              <div v-for="image in 8" :key="image">
                <img src="http://vogxes.com/wp-content/uploads/engranajes-c%C3%B3nicos.png">
                <p>Engranaje cónico</p>
              </div>
            </el-row>
          </el-carousel-item>
        </el-carousel>
      </el-col>
    </el-row>
    <el-row class="section certificated">
      <p class="title">Certificaciones</p>
      <hr>
      <p class="description">
          Contamos con la trinorma, Sistema de Gestión de Calidad 9001, Sistema de Seguridad y Salud Ocupacional OSHAS 18001 y Sistema de Gestión Ambiental ISO 14001
      </p>
      <div class="logo">
        <img src="http://www.officinemarino.it/public/certificazioni/loghi/140220181727341.jpg">
        <img src="http://www.officinemarino.it/public/certificazioni/loghi/140220181727341.jpg">
        <img src="http://www.officinemarino.it/public/certificazioni/loghi/140220181727341.jpg">
      </div>
    </el-row>
    <el-row class="section">
      <p class="title">Nos Diferenciamos</p>
      <hr>
      <p class="info">Tenemos mas de 16 años siendo especialistas en el<br>rubro de metal-mecánica y ofrecemos valores clave<br>a nuestros clientes.</p>
      <el-col :span="24" class="qualitys">
        <el-col :span="14">
          <el-row :gutter="30">
            <el-col :span="8" class="quality">
              <i class="fas fa-chart-bar"></i>
              <p>Flexibilidad</p>
              <span>Fabricamos desde 1 sola pieza hasta fabricación en serie de grandes volúmenes.</span>
            </el-col>
            <el-col :span="8" class="quality">
              <i class="fas fa-chart-bar"></i>
              <p>Calidad y Garantía</p>
              <span>Todos nuestros procesos de manufactura son debidamente controlados.</span>
            </el-col>
            <el-col :span="8" class="quality">
              <i class="fas fa-chart-bar"></i>
              <p>Asistencia y asesoramiento</p>
              <span>Asesoría y acompañamiento técnico 24h/7días.</span>
            </el-col>
          </el-row>
          <el-row :gutter="30">
            <el-col :span="8" class="quality">
              <i class="fas fa-chart-bar"></i>
              <p>Capacidad de atención local e internacional</p>
              <span>Fabricamos de más de 250 mil piezas mecanizadas al año.</span>
            </el-col>
            <el-col :span="8" class="quality">
              <i class="fas fa-chart-bar"></i>
              <p>Condifencialidad</p>
              <span>Nos aseguramos de mantener la confidencialidad de las patentes y planos de piezas.</span>
            </el-col>
            <el-col :span="8" class="quality">
              <i class="fas fa-chart-bar"></i>
              <p>Tiempo de entrega</p>
              <span>Puntualidad en la fecha de entrega.</span>
            </el-col>
          </el-row>
          <el-row :gutter="30">
            <el-col :span="8" class="quality">
              <i class="fas fa-chart-bar"></i>
              <p>Sostenibilidad</p>
              <span>Desarrollo de iniciativas que promueven el reciclaje y contribuyen con el medio ambiente.</span>
            </el-col>
            <el-col :span="8" class="quality">
              <i class="fas fa-chart-bar"></i>
              <p>Logística</p>
              <span>Disponibilidad para entregas especiales y seguimiento a través de GPS.</span>
            </el-col>
            <el-col :span="8" class="quality">
              <i class="fas fa-chart-bar"></i>
              <p>Cultura organizacional</p>
              <span>Honestidad, compromiso, seguridad y lealtad.</span>
            </el-col>
          </el-row>
        </el-col>
      </el-col>
      <el-col :span="24" class="div-buttons">
        <el-button class="button-services">Más sobre Nosotros</el-button>
      </el-col>
    </el-row>
    <el-row class="section image-large"></el-row>
    <el-row class="section">
      <p class="title">Representaciones</p>
      <hr>
      <p class="info">
        Somos representantes exclusivos en el Perú de lubricantes Delta,<br>maquinas Romi, prensas Fresmak y barras Stelmi.
      </p>
      <el-col :span="24" class="div-representations">
          <el-col :span="14">
            <el-row :gutter="20">
              <el-col :span="12">
                <div class="item">
                  <img src="http://www.wddistributing.com/files/3414/4009/0109/romi-logo-300.png" height="60">
                  <p>Venta de máquinas-herramienta, Centros de Torneado, Tornos CNC, Tornos Convencionales, Centros de Mecanizado y Mandriladoras.</p>
                  <router-link :to="{'name': 'ourBrands'}"><span>Máquinas Romi</span><i class="fas fa-arrow-circle-right"></i></router-link>
                </div>
              </el-col>
              <el-col :span="12">
                <div class="item">
                  <img src="https://tecma.org.mx/wp-content/uploads/2016/10/delta-ok-nou.png" height="60">
                  <p>Venta de lubricantes para uso industrial, para maquinarias, como la gama DELTACOR TB2, lubricantes refrigerantes de nueva tecnología.</p>
                  <a href="#"><span>Lubricantes Delta</span><i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </el-col>
            </el-row>
            <el-row :gutter="20">
              <el-col :span="12">
                <div class="item">
                  <img src="https://www.fresmak.com/wp-content/uploads/F-GRIP1.jpg" height="80">
                  <p>Los primeros fabricantes de mordazas de alta presión en el mundo, desde 1967 exclusivamente al mundo del amarre.</p>
                  <a href="#"><span>Mordazas Fresmak</span><i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </el-col>
              <el-col :span="12">
                <div class="item">
                  <img src="https://metodoadv.com/wp-content/uploads/logo-stelmi-1.png" height="80">
                  <p>Venta de barras, tubos y cilindros cromados certificados que garantizan una alta resistencia a la corrosión.</p>
                  <a href="#"><span>Barras y Tubos Stelmi</span><i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </el-col>
            </el-row>
          </el-col>
      </el-col>
    </el-row>
    <el-row class="section schedule-image">
      <div class="opacity"></div>
      <div class="content">
        <p class="first-line">¿Quieres ver nuestras marcas representadas en acción?</p>
        <p class="second-line">Visita nuestra planta</p>
        <el-col :span="24" class="div-buttons">
          <el-button class="button-services">Agenda una Visita</el-button>
        </el-col>
      </div>
    </el-row>
    <el-row class="section">
      <p class="title">Clientes</p>
      <hr>
      <p class="info">Con el respaldo</p>
      <el-col :span="24" class="div-carousel">
        <el-carousel :interval="10000" arrow="always" class="clients">
          <el-carousel-item v-for="item in 4" :key="item">
            <el-row class="div-logo">
              <div v-for="image in 4" :key="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Grupo_Gloria_Peru.png">
              </div>
            </el-row>
          </el-carousel-item>
        </el-carousel>
      </el-col>
      <el-col :span="24" class="div-buttons">
        <el-button class="button-services">Más Clientes</el-button>
      </el-col>
    </el-row>
    <el-row class="section">
      <p class="title">Contáctanos</p>
      <hr>
      <p class="info">Estamos listos para asesorarte o cotizar el servicio que necesites,<br>ponte en contacto con nosotros y responderemos a la brevedad.</p>
      <br>
      <el-row type="flex" class="row-bg contact" justify="center">
        <el-col :span="16">
          <el-row :gutter="40">
            <el-col :span="14">
              <div class="form">
                <p class="title">Dejanos un mensaje</p>
                <el-input type="text" placeholder="Nombres y apellidos" v-model="name"></el-input>
                <el-input type="text" placeholder="Email" v-model="email"></el-input>
                <el-input type="text" placeholder="Empresa" v-model="enterprise"></el-input>
                <el-input type="textarea" rows="3" placeholder="Mensaje" v-model="message"></el-input>
              </div>
              <el-col :span="24" class="div-buttons">
                <el-button class="button-services">Enviar</el-button>
              </el-col>
            </el-col>
            <el-col :span="10">
              <div class="form">
                <p class="title">Llamanos o escríbenos</p>
                <p class="info">(+511) 326-1420</p>
                <p class="info">(+511) 326-7144</p>
                <br>
                <p class="info">ventas@staff.com.pe</p>
                <p class="info">staff@staff.com.pe</p>
                <br>
                <p class="title">Llamanos o escríbenos</p>
                <p class="info">Calle Luis Galvani Mz. I Lt. 22 Urb.</p>
                <p class="info">Industrial Santa Rosa - Ate, Lima</p>
              </div>
            </el-col>
          </el-row>
          
        </el-col>
      </el-row>
    </el-row>
    <footer-component></footer-component>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import axios from 'axios'
import Menu from '../components/Menu.vue'
import Footer from '../components/Footer.vue'
import _ from 'lodash';
export default {
  name: 'home',
  data: () => {
      return {
        services: [{name: 'Mecanizado', id: 1}, {name: 'Servicio 2', id: 2}, {name: 'Servicio 3', id: 3}],
        serviceSelected: 1
      }
    },
  components: {
    'navbar': Menu,
    'footer-component': Footer
  },
  watch: {
  },
  computed: {
  },
  created: function(){
  },
  mounted: function(){},
  methods: {
    quote: function(){

    }
  }
}
</script>

<style lang="scss">
  .home{
    .background-home{
      background: url('https://www.watsonatlaw.com/wp-content/uploads/2017/03/milwaukee-background-bw-1920px.jpg') no-repeat center center;
      width: 100%;
      background-size: cover;
      background-position: 50%;
      height: calc( 100vh - 90px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .text{
        width: 600px;
        margin-top: -100px;
        h2{
          color: white;
          font-weight: 700;
          font-size: 40px;
          line-height: 50px;
          text-align: center;
        }
        p{
          color: white;
          font-weight: 600;
          font-size: 15px;
          line-height: 25px;
          text-align: center;  
        }
        hr{
          background: #d46e05;
          border: #d46e05;
          height: 2px;
          width: 90px;
          margin: 20px auto;
        }
      }
      .cotization{
        position: absolute;
        width: 100%;
        height: 80px;
        bottom: 0;
        background: #7977b5;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          color: white;
          font-weight: 700;
          margin-right: 20px
        }
        button{
          margin-left: 250px;
          background: #fb8001;
          border: #fb8001;
          color: white;
          font-weight: 700;
          border-radius: 10px;
        }
        input{
          background: none;
          color: white;
          font-weight: 700;
          border: 1px solid white;
        }
        i{
          color: white;
          font-weight: 800;
        }
      }
    }
    .section{
      background: white;
      padding: 80px 40px;
      .title{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
      }
      hr{
        background: #fb8001;
        border: #fb8001;
        height: 2px;
        width: 50px;
        margin: 20px auto;
      }
      .info{
        text-align: center;
        font-size: 14px;
        color: gray;
        font-weight: 500;
      }
      .images{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .image{
           background: url('https://www.definicionabc.com/wp-content/uploads/general/Mecanizado-2.jpg') no-repeat center center;
           background-size: cover;
           height: 230px;
           width: 350px;
           border-radius: 10px;
           margin: 0 10px;
           padding: 20px 45px;
           p{
             color: white;
             font-size: 18px;
             font-weight: bold;
             text-align: center;
             text-shadow: 2px -1px 3px #000000;
           }
        }
      }
      .div-buttons{
        text-align: center;
        margin-top: 20px;
        .button-services{
          background: #fb8001;
          border: #fb8001;
          color: white;
          font-weight: 700;
          border-radius: 5px;
        }
      }
      &.speciality{
        padding: 0;
        display: flex;
        .speciality-image{
          background: url('https://bdnplus.com/wp-content/uploads/2015/06/Trabajos-mecanizados-600x400.jpg') no-repeat center center;
          background-size: cover;
        }
        .details{
          background: #18256c;
          padding: 55px 40px 40px 40px;
          .title{
            color: white;
            text-align: left;
          }
          hr{
            margin: 30px 0;
          }
          li{
            display: flex;
            color: white;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 15px;
            i{
              color: #fb8001;
              margin: 2px 8px 0 0;
            }
          }
        }
      }
      .el-carousel{
        padding: 0 200px;
        margin-top: 40px;
        .el-row{
          padding: 0px 150px;
          text-align: center;
          div{
            width: 150px;
            height: 150px;
            margin: 20px;
            display: inline-block;
            p{
              font-size: 14px;
            }
            img{
              width: 100%;
            }
          }
          &.div-logo{
            padding: 0 50px;
            display: flex;
            div{
              height: 100px;
              width: auto;
            }
          }
        }
        .el-carousel__container{
          height: 350px;
        }
        &.clients{
          .el-carousel__container{
            height: 130px;
          }
        }
        .el-carousel__arrow{
          background: none;
          i{
            color: gray;
            font-size: 40px;
          }
        }
      }
      &.certificated{
        background: #494494;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .title{
          color: white;
        }
        .description{
          color: white;
          line-height: 25px;
          font-size: 17px;
          margin: 20px 0 50px 0;
          text-align: center;
          width: 550px;
        }
        .logo{
          text-align: center;
          img{
            width: 160px;
            margin: 0 50px;
            border-radius: 50%;
          }
        }
      }
      .qualitys{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .el-row{
          margin-bottom: 30px;
        }
        .quality{
          text-align: center;
          i{
            color: #494494;
            font-size: 70px;
          }
          p{
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0;
          }
          span{
            font-size: 14px;
            line-height: 23px;
            color: gray;
          }
        }
      }
      &.image-large{
        // background: url('../assets/images/background-mecanizado.png') no-repeat center center;
        background: url('http://www.tameinsa.com/wp-content/uploads/2016/10/mecanizado_2-1920x1281.jpg') no-repeat center center;
        background-size: cover;
        height: 400px;
      }
      .div-representations{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        .el-row{
          margin-bottom: 20px;
          .item{
          border: 1px solid #c7c7c7;
          padding: 40px;
          p{
            font-size: 11px;
            color: gray;
            font-weight: 500;
            line-height: 20px;
            margin: 30px 0;
          }
          a{
            color:#fb8001;
            font-size: 13px;
            font-weight: 600;
            display: flex;
            text-decoration: none;
            span{
              text-decoration: underline;
            }
            i{
              margin: 0px 0 0 10px;
              font-size: 20px;
            }
          }
        }
        }
        
      }
      &.schedule-image{
        // background: url('../assets/images/background-mecanizado.png') no-repeat center center;
        background: url("https://www.nortonabrasives.com/sites/sga.na.com/files/styles/paragraphs_item__field_paragraph_slide_image__general/public/Banner%20metal_3_0.png") no-repeat center center;
        background-size: cover;
        background-position: 50%;
        height: 300px;
        position: relative;
        .opacity{
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          background: #18256c;
          opacity: 0.4;
          z-index: 2;
        }
        .content{
          position: absolute;
          right: 0;
          left: 0;
          top: 70px;
          bottom: 0;
          z-index: 3;
        }
        p{
          text-align: center;
          color: white;
          font-size: 28px;
          &.first-line{
            font-weight: 500;
          }
          &.second-line{
            font-weight: 300;
            margin-bottom: 40px;
          }
        }
      }
      .contact{
        margin-top: 50px;
        .form{
          .title{
            color: #fb8001;
            font-size: 19px;
            text-align: left;
            font-weight: 400; 
            margin-bottom: 20px;
          }
          .el-input{
            margin-bottom: 20px;
          }
          textarea{
            border: none;
            margin-bottom: 100px;
            &:focus{
              box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.15);
            }
          }
          .info{
            text-align: left;
            margin-bottom: 5px;
          }
        }
        .div-buttons{
          text-align: left;
        }
      }
    }
  }
</style>
