
<template>
  <div class="our-brands">
    <navbar></navbar>
    <div class="head">
      <p>Nuestras Marcas</p>
    </div>
    <el-row type="flex" class="row-bg details" justify="center">
      <el-col :span="16">
        <el-row class="first-look">
          <el-col class="img" :span="14">
            <img class="brand-image" :src="mainImage">
            <br>
            <br>
            <br>
            <el-row>
              <el-col :span="3" v-for="item in imagess" :key="item.id">
                <div @click="changeImage(item.url)">
                  <img :src="item.url" class="images-list">
                </div>
              </el-col>
            </el-row>
          </el-col>
          <el-col class="info" :span="10">
            <p>ROMI Lazzati</p>
            <p>HBM 130T&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <br>
            <hr>
            <p class="brand name">Madrinadora CNC</p>
            <br>
            <p class="brand">
              Flexibilidad, productividad en
              <br>mecanizado de piezas de gran
              <br>porter
            </p>
          </el-col>
        </el-row>
        <el-row class="explanation">
          <p class="title">Descripción</p>
          <br>
          <hr>
          <br>
          <p
            class="full-detail"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br>
          <p
            class="full-detail"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br>
          <p
            class="full-detail"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br>
          <br>

          <el-button @click="moreInfo" class="button-quote">Más información</el-button>
          <br>
          <br>
          <br>
        </el-row>
      </el-col>
    </el-row>
    <el-row class="background-img">
      <div class="opacity"></div>
      <div class="content">
        <p class="first-line">¿Quieres ver nuestras marcas representadas en acción?</p>
        <p class="second-line">Visita nuestra planta</p>
        <el-col :span="24" class="div-buttons">
          <el-button @click="scheduleMeeting" class="button-services">Agenda una visita</el-button>
        </el-col>
      </div>
    </el-row>
    <el-row class="section">
      <p class="title">Contáctanos</p>
      <hr>
      <p class="info">¿Necesitas mas informacion sobre nuestros productos?</p>
      <br>
      <el-row type="flex" class="row-bg contact" justify="center">
        <el-col :span="16">
          <el-row :gutter="40">
            <el-col :span="14">
              <div class="form">
                <p class="title">Dejanos un mensaje</p>
                <el-input type="text" placeholder="Nombres y apellidos" v-model="name"></el-input>
                <el-input type="text" placeholder="Email" v-model="email"></el-input>
                <el-input type="text" placeholder="Empresa" v-model="enterprise"></el-input>
                <el-input type="textarea" rows="3" placeholder="Mensaje" v-model="message"></el-input>
              </div>
              <el-button @click="sendMessage" style="margin-left: 10px;">Enviar</el-button>
            </el-col>
            <el-col :span="10">
              <div class="form">
                <p class="title">Llamanos o escríbenos</p>
                <p class="info">(+511) 326-1420</p>
                <p class="info">(+511) 326-7144</p>
                <br>
                <p class="info">ventas@staff.com.pe</p>
                <p class="info">staff@staff.com.pe</p>
                <br>
                <p class="title">Llamanos o escríbenos</p>
                <p class="info">Calle Luis Galvani Mz. I Lt. 22 Urb.</p>
                <p class="info">Industrial Santa Rosa - Ate, Lima</p>
              </div>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-row>
    <footer-component></footer-component>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import axios from "axios";
import Menu from "../components/Menu.vue";
import Footer from "../components/Footer.vue";
import _ from "lodash";
export default {
  name: "ourBrands",
  data: () => {
    return {
      mainImage: "http://k31.kn3.net/taringa/6/2/A/D/2/7/triceratops1/290.jpg",
      imagess: [
        {
          url: "http://k31.kn3.net/taringa/6/2/A/D/2/7/triceratops1/290.jpg",
          id: 1
        },
        {
          url:
            "http://www.zetaestaticos.com/burgos/img/noticias/0/065/65885_1.jpg",
          id: 2
        },
        {
          url:
            "https://previews.123rf.com/images/liujunrong/liujunrong1603/liujunrong160300458/53599588-maquinaria-para-la-producci%C3%B3n-de-cer%C3%A1mica-y-equipo-en-una-f%C3%A1brica.jpg",
          id: 3
        },
        {
          url:
            "http://spanish.automatedassemblyline.com/photo/pl2049072-production_assembly_line_in_automotive_industry_car_manufacturing_assembly_line.jpg",
          id: 4
        },
        {
          url:
            "http://www.zetaestaticos.com/burgos/img/noticias/0/077/77196_1.jpg",
          id: 5
        }
      ],
      name: "",
      email: "",
      enterprise: "",
      message: ""
    };
  },
  components: {
    navbar: Menu,
    "footer-component": Footer
  },
  watch: {},
  computed: {},
  created: function() {},
  mounted: function() {},
  methods: {
    moreInfo: function() {
      alert("mas informacion");
    },
    scheduleMeeting: function() {
      alert("agendar cita");
    },
    sendMessage: function() {
      alert("send message");
    },
    changeImage: function(src) {
      this.mainImage = src;
    }
  }
};
</script>

<style lang="scss">
.our-brands {
  hr {
    height: 3px;
    width: 100px;
    color: #d46e05;
    background-color: #d46e05;
    border: none;
  }
  button {
    background: #fb8001;
    border: #fb8001;
    color: white;
    font-weight: 700;
    border-radius: 5px;
  }
  .head {
    background-color: #f0f0f2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0px 35px 0px;
    margin-bottom: 100px;

    p {
      font-size: 50px;
      font-weight: bold;
      color: #5d5d5d;
    }
  }

  .details {
    background-color: white;
    .first-look {
      .img {
        padding: 0 40px;
        .brand-image {
          width: 100%;
          height: 500px;
        }
        .images-list {
          width: 70px;
          max-height: 45px;
        }
      }
      .info {
        .brand {
          font-weight: normal;
          font-size: 15px;
        }
        .name {
          color: #d46e05;
          font-size: 20px;
        }
      }
      p {
        font-size: 35px;
        font-weight: bold;
        color: #5d5d5d;
      }
    }
    .explanation {
      margin-top: 50px;
      .title {
        font-size: 27px;
        font-weight: bold;
        color: #5d5d5d;
      }
      .full-detail {
        color: gray;
        font-size: 17px;
        font-weight: 200;
      }
    }
  }
  .background-img {
    background: url("https://www.nortonabrasives.com/sites/sga.na.com/files/styles/paragraphs_item__field_paragraph_slide_image__general/public/Banner%20metal_3_0.png")
      no-repeat center center;
    background-size: cover;
    background-position: 50%;
    height: 300px;
    position: relative;
    .opacity {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: #18256c;
      opacity: 0.4;
      z-index: 2;
    }
    .content {
      position: absolute;
      right: 0;
      left: 0;
      top: 70px;
      bottom: 0;
      z-index: 3;
    }
    p {
      text-align: center;
      color: white;
      font-size: 28px;
      &.first-line {
        font-weight: 500;
      }
      &.second-line {
        font-weight: 300;
        margin-bottom: 40px;
      }
    }
    .div-buttons {
      text-align: center;
      margin-top: 20px;
    }
  }
  .section {
    background: #f0f0f2;
    padding: 80px 40px;
    .title {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }
    hr {
      background: #fb8001;
      border: #fb8001;
      height: 2px;
      width: 50px;
      margin: 20px auto;
    }
    .info {
      text-align: center;
      font-size: 14px;
      color: gray;
      font-weight: 500;
    }
    .contact {
      margin-top: 50px;
      .form {
        .title {
          color: #fb8001;
          font-size: 19px;
          text-align: left;
          font-weight: 400;
          margin-bottom: 20px;
        }
        .el-input {
          margin-bottom: 20px;
        }
        textarea {
          border: none;
          margin-bottom: 100px;
          &:focus {
            box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.15);
          }
        }
        .info {
          text-align: left;
          margin-bottom: 5px;
        }
      }
    }
  }
}
</style>

