<template>
  <div class="footer">
    <el-row class="first-line">
        <el-col :span="8" class="info">
            <img src="https://odoocdn.com/openerp_website/static/src/img/assets/png/odoo_logo.png?a=b">
            <p><i class="fas fa-map-marker-alt"></i><span>Calle Luis GAlvani MZ. I Lt 22 Urb. Industrial<br>Santa Rosa - Ate, Lima</span></p>
            <p>
                <i class="fas fa-phone fa-rotate-180"></i>
                <span class="phone">
                    <span>(+511)</span> 326-1420 <span>- (+511) </span> 326-7144
                </span>
            </p>
            <p><i class="far fa-envelope"></i><span>ventas@staff.com.pe</span></p>
        </el-col>
        <el-col :span="16" class="items">
            <el-row>
                <hr>
                <p class="title">Certificaciones</p>
                <div>
                    <img src="../assets/images/certificado.png">
                    <img src="../assets/images/certificado.png">
                    <img src="../assets/images/certificado.png">
                </div>
            </el-row>
            <el-row>
                <hr>
                <p class="title">Servicios</p>
                <p class="content">Diseño y fabricación de fiestas y repuestos<br><br>Mantenimiento y reparación de máquinas Romi</p>
            </el-row>
            <el-row>
                <hr>
                <p class="title">Nuestras Marcas</p>
                <p class="content">Máquina-herramientas Romi<br><br>Lubricantes Delta<br><br>Amarres Fresmak</p>
            </el-row>
        </el-col>
    </el-row>
    <el-row class="second-line">
        2018, Derechos Reservados STAFF Representaciones S.A.
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.footer{
    .first-line{
        padding: 30px 150px;
        background: #18256c;
        .info{
            text-align: left;
            img{
                width: 150px;
                margin-bottom: 30px;
            }
            p{
                display: flex;
                color: white;
                margin-bottom: 15px;
                i{
                    margin-top: 2px;
                }
                span{
                    margin-left: 15px;
                    font-size: 13px;
                    &.phone{
                        margin-left: 12px;
                        font-size: 14px;
                        font-weight: 600;
                        span{
                            margin-left: 0;
                            font-size: 13px;
                            font-weight: 200;
                        }
                    }
                }
            }
        }
        .items{
            display: flex;
            justify-content: space-between;
            .el-row{
                hr{
                    background: white;
                    height: 2px;
                    width: calc(100% - 50px);
                }
                p{
                    color:white;
                    &.title{
                        margin-top: 5px;
                    }
                    &.content{
                        margin-top: 25px;
                        font-size: 12px;
                        max-width: 200px;   
                    }
                }
                div{
                    display: flex;
                    img{
                        width: 100px;
                    }
                }
            }
        }
    }
    .second-line{
        background: #0e1748;
        color: gray;
        font-size: 12px;
        text-align: center;
        padding: 20px;
    }
}
</style>

