<template>
  <div class="menu">
    <el-row class="first-line">
      <ul>
        <li><a href="#">Trabaja con Nosotros</a></li>
        <li><a href="#">Consulta de Facturas</a></li>
        <li class="social">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
    </el-row>
    <el-row class="second-line">
      <div>
        <img src="https://odoocdn.com/openerp_website/static/src/img/assets/png/odoo_logo.png?a=b">
      </div>
      <div class="list">
        <ul>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Clientes</a></li>
          <li><a href="/our-brands">Nuestras Marcas</a></li>
          <li><a href="#">Contáctanos</a></li>
          <li class="contact">
            <p class="phone"><span>(+511)</span> 326-1420</p>
            <a mailto="ventas@staff.com.pe"><p class="email">ventas@staff.com.pe</p></a>
          </li>
        </ul>
      </div>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.menu{
  .first-line{
    background: #18256c;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    ul{
      display: flex;
      list-style: none;
      li{
        margin-right: 40px;
        a{
          color:white;
          text-decoration: none;
          font-size: 11px;
          &:hover{
            text-decoration: underline;
          }
          i{
            margin: 5px 10px 0 0;
            font-size: 16px;
          }
        }
      }
    }
  }
  .second-line{
    height: 60px;
    background: #494494;
    display: flex;
    padding: 0 0 0 40px;
    div{
      width: 200px;
      img{
        width: 100%;
        height: 57px;
      }
      &.list{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        ul{
          display: flex;
          list-style: none;
          li{
            margin: 18px 40px 0 0;
            a{
              color:white;
              text-decoration: none;
              font-size: 14px;
              font-weight: 600;
              &:hover{
                text-decoration: underline;
              }
            }
            &.contact{
              background: rgba(227, 230, 251, 0.3);
              padding: 10px 30px 0 30px;
              margin: 0;
              .phone{
                font-size: 14px;
                font-weight: 700;
                color: white;
                span{
                  font-weight: 100;
                  font-size: 11px;
                }
              }
              .email{
                font-weight: 500;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
</style>

