<template>
  <div id="app">
    <router-view/>
    <notifications classes='notify-report'/>
  </div>
</template>

<script>
  import './assets/sass/global.scss';
  import axios from 'axios';
  import {CONSTANTS} from './utils/Constants.js';
  import './assets/fontawesome/css/all.css';
  import { mapState } from 'vuex';
  import {Circle2} from 'vue-loading-spinner';
  import InfiniteLoading from 'vue-infinite-loading';
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1860916427505950',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
  export default {
    name: 'app',
    data: () => {
      return {
        option: null,
        // optionRight: null,
        active: null,
        showOptionsLeft: false,
        // showOptionsCenter: false,
        user: null,
        pageNotifications: 0,
        notifications: [],
        notificationIconSelected: false
      }
    },
    components: {
      Circle2,
      InfiniteLoading
    },
    computed: mapState([
      'optionRight',
      'showOptionsCenter',
      'showMenuMobile'
    ]),
    created: function(){
      // if(this.$store.getters.userLogued){
      //   this.loadMe();
      // }
    },
    mounted: function(){
      // this.$store.commit('setShowOptionsCenter', false)
      if(this.$store.getters.userLogued){
        this.loadMe();
      }
    },
    methods: {
      logout: function(){
        this.$store.commit('setTokenSystem', null)
        this.$store.commit('setNickname', null)
        this.$store.commit('setUsername', null)
        this.$store.commit('setEmail', null)
        this.$store.commit('setGender', null)
        this.$store.commit('setAccessToken', null)
        location.href = '/';
      },
      login: function(){
        location.href = '/login'
      },
      setShowOptionsCenter: function(value){
        this.$store.commit('setShowOptionsCenter', value);
        if(value){
          document.getElementById('options-center').style.display ='flex';
        }
      },
      loadMe: function(){
        axios.get(CONSTANTS.API.ME, {
        })
        .then((response) => {
          this.user = response.data.user
          this.$store.commit('setUsername', this.user.username)
        })
      },
      selectedOption: function(value){
        this.option = value
      },
      loadNotifications: function($state){
        if(this.user){
          axios.get(CONSTANTS.API.NOTIFICATIONS)
          .then((response) => {
            this.notifications = response.data.list
            _.forEach(this.notifications, function(n){
              n['alias'] = n.url.slice(3)
            })
            $state.complete();
          });
        }
      },
      goToAction: function(){
        if(this.$store.getters.userLogued){
          this.notificationIconSelected = true
        } else {
          this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
        }
      },
      goToNotification: function(){
        if(this.$store.getters.userLogued){
          this.$router.push({name: 'notifications'})
        } else {
          this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
        }
      },
      goToProfile: function(){
        if(this.$store.getters.userLogued){
            this.$store.commit('setOptionRight', 3)
           this.$router.push({name:'profile', params: {username: this.user.username, section:'posts'}})
        } else {
          this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
        }
      },
      goCreatePost: function(){
        if(this.$store.getters.userLogued){
          this.$router.push({name:'create-post'})
        } else{
          this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
        }
      },
      goToPost: function(alias, id){
        this.notificationIconSelected = false
        let formData = new FormData()
        formData.append('notification_id', id)
        formData.append('action', null)
        formData.append('action_object_id', 0)
        axios.post(CONSTANTS.API.MARKED_NOTIFICATION, formData)
        .then((response) => {
        });
        this.$router.push({name:'post', params: {alias: alias}});
      }
      // selectedOptionRight: function(value){
      //   this.optionRight = value
      //   EventBus.$emit('right-menu-clicked', this.optionRight);
      // }
    }
  }
</script>

<style lang="scss">
  #app {}
</style>
